.img-submit {
  max-width: 400px;
  border-radius: 10px;
  border: 1px black solid;
  margin: 20px;
}
.input {
  margin: 10px;
}
.footer {
  margin-bottom: 50px;
}
.theatre {
  background-color: #000000
}

.review-block {
  margin-top: 20px;
  text-align: left;
}