<div class="container">
  <h1 class="text-center">Home Page</h1>
  <div class ="row">
    <div class ="col-sm-6">
      <h2 class ="text-center">
        <a href="/songs">View Songs</a>
      </h2>
    </div>
    <div class="col-sm-6">
      <h2 class ="text-center">
        <a href="/songs/new">Submit a Song</a>
      </h2>
    </div>
  </div>
</div>